@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.slick-prev, .slick-next {
  &:before {
    color: rgba(0, 0, 0, 0.75);
  }
}

.headerLinks {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.categorySliderWrap {
  padding: 0 2rem;
  @include till-md-screen {
    padding: 0;
  }
}
