.customFileUploader.postPhoto {
  .uploadPictureContainer {
    width: 100%;
  }
}

.bodyFieldError + .articleBodyEditor {
  border: 1px solid #f44336;
}


.bodyFieldErrorMsg {
  color: #f44336;
}

.imageUploadWrap .bodyFieldErrorMsg {
  text-align: center;
  position: relative;
  top: -0.5rem;
}


.postImagePreview {
  max-width: 60%;
  max-height: 50vh;
}

.removePreview.removePreview {
  border: 1px solid;
  margin-right: -50px;
  position: relative;
  right: -10px;
}
