.iconButton.iconButton {
  border: 1px solid;
  border-radius: 50%;
}

.articleHeader {
  padding: 2rem 30px 1rem;
  background: #fff;
  margin-top: 3rem;
}

.articleBody {
  padding: 3rem 30px;
  background: #fff;

  p br {
    display: none;
  }

  a {
    color: #222;
  }
}
