.customFileUploader {
  .fileContainer {
    box-shadow: none;
    padding: 0;
    margin: 0;
  }

  .fileUploadButton {
    background: #3f51b5;
    color: #fff;
  }

  .deleteImage {
    font-size: 14px;
  }
}


