.mainFooter {
  background: #222;
  padding: 60px 0;
  color: #fff;
}
.divider.divider {
  margin: 2rem 0;
  background: rgba(255,255,255,0.5);
}

.brand.brand {
  font-weight: 700;
  font-family: 'Vollkorn', serif;
  color: #fff;
  letter-spacing: -1px;
}
.upIcon.upIcon {
  color: #fff;
}
