@import "variables";
@import "mixins";
@import "helpers";

img {
  max-width: 100%;
}

.mainContainer {
  margin-bottom: 6rem;
  min-height: calc(100vh - 635px);
}

// Custom File Upload
.customFileUploader.customFileUploader {
  .fileContainer {
    box-shadow: none;
    padding: 0;
    margin: 0;
  }

  .fileUploadButton {
    background: #3f51b5;
    color: #fff;
  }

  .deleteImage {
    font-size: 14px;
  }

  .uploadPictureContainer {
    box-shadow: none;
  }
}

pre {
  background: rgba(0,0,0,0.1);
  padding: 20px;
}

.articleBody {
  a {
    color: #222;
  }
}


// Paginator
.pagination {
  display: inline-flex;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding-left: 0;
  border-radius: 4px;
  overflow: hidden;

  .pageItem {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      padding: 3px 10px;
      background: #f7f7f7;
      cursor: pointer;

      &:hover {
        background: #ccc;
      }
    }


    & + .pageItem {
      border-left: 1px solid #ccc;
    }
  }
}

.activePage.activePage.activePage {
  a {
    color: #fff;
    background: #336699;
  }
}
