@import "variables";
@import "mixins";
@import "helpers";

img {
  max-width: 100%;
}

.mainContainer {
  margin-bottom: 6rem;
}

// Custom File Upload
.customFileUploader.customFileUploader {
  .fileContainer {
    box-shadow: none;
    padding: 0;
    margin: 0;
  }

  .fileUploadButton {
    background: #3f51b5;
    color: #fff;
  }

  .deleteImage {
    font-size: 14px;
  }

  .uploadPictureContainer {
    box-shadow: none;
  }
}

pre {
  background: rgba(0,0,0,0.1);
  padding: 20px;
}

.articleBody {
  a {
    color: #222;
  }
}
